body{
    overflow-x: hidden;
}
section{
    position: absolute;
    width: 100%;
    height: 600px;
    background-image: url('./img/backgroun.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay{
    
}